@import "color";

.report-header{
	 margin:2rem;
	h3{
	 
	}
}


#forth-icon-section{
	padding-top:1rem;
}



/**Global styles**/
a {
  letter-spacing: .02rem;
}

/**Headings**/
h1, h2, h3 {
	border-left: solid $main-yellow 0.4rem;
	padding: 0 0 0 0.5rem;
}
h2 {
	 font-weight: bold;
}


h1.header-h1 {
  border-left: none !important;
  font-size: 1.5rem !important;
  font-weight: bold;
}

header h2.right {
  border-left: none;
  font-size: 2rem;
}
.top-bar {
	background: $main-green;
}
.top-bar-section ul li {
  background: $main-green;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 0.9375rem;
   line-height: 2.125rem;
  background: #4EBA6E;
   /*line-height: 2.3125rem;*/
  }

#header-img {
	background: url(../img/placeholder-hero-img.jpg) no-repeat;
  	width: 100%;
  	height: 50rem;
}
#yellow-background {
	background:rgba(254, 218, 49, 0.89);
	padding: 15px;
	margin-top: 35rem;
}
.no-margin {
	margin-left:0rem;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: transparent;
  	background: transparent;
    transition: all 0.5s ease;   
    padding-bottom:.02rem;
    border-bottom: 3px solid $main-yellow;
}


/**Styles for individual sections**/



/**Styles for footer sections*/

.footer{
  background: $main-green;
  padding: 0.5rem 0;
  color: #ffffff !important;
  h6{
    border-left: solid 3px $main-yellow;
    padding-left: 0.3rem;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  p{
    font-weight: 300;
    font-size: 0.85rem;
    margin-left: 0.5rem;

  }
}

/**Styles for About Us sections**/
