/**Global styles**/
/* line 4, ../sass/main.scss */
a {
  letter-spacing: .02rem;
}

/**Headings**/
/* line 9, ../sass/main.scss */
h1, h2, h3, h6 {
  padding: 0 0 0 0.5rem;
  font-weight: bold;
}

/* line 13, ../sass/main.scss */
h3, h6 {
  font-weight: bold;
  margin-bottom: 2rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  display: inline-block;
  min-width: 10%;
  margin-left: auto;
  margin-right: auto;
}

/* line 25, ../sass/main.scss */
h3:before, h6:before {
  width: 0.3rem;
  height: 90%;
  content: "";
  background-color: #feda31;
  position: absolute !important;
  left: 0;
  top: 0;
  vertical-align: middle;
}

/**wrapper for content sections**/
/* line 39, ../sass/main.scss */
.content-wrapper {
  border-bottom: solid #F1F1F1 0.1rem;
  padding: 2rem 0 2rem 0;
}
@media only screen and (min-width: 40.063em) {
  /* line 42, ../sass/main.scss */
  .content-wrapper h3 {
    margin-bottom: 4rem;
  }
}
/* line 47, ../sass/main.scss */
.content-wrapper .small-12 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 54, ../sass/main.scss */
h1.header-h1 {
  border-left: none !important;
  font-size: 1.5rem !important;
}

/* line 59, ../sass/main.scss */
header h2.right {
  border-left: none;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

@media only screen and (min-width: 40.063em) {
  /* line 66, ../sass/main.scss */
  .top-bar {
    background: #4eba6e;
    padding-top: .5rem;
    padding-bottom: 3.3rem;
  }
}
/* line 72, ../sass/main.scss */
.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
  font-weight: bold;
  padding: 0 4rem;
}

/* line 76, ../sass/main.scss */
.top-bar-section ul li {
  background: #4eba6e;
}

/* line 79, ../sass/main.scss */
.top-bar-section li:not(.has-form) a:not(.button) {
  background: #4eba6e;
  font-size: .9rem;
  /*line-height: 2.125rem;
  line-height: 2.3125rem;*/
}

@media only screen and (min-width: 40.063em) {
  /* line 86, ../sass/main.scss */
  .top-bar-section ul {
    padding-right: 3rem;
  }
}
/* line 90, ../sass/main.scss */
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: transparent;
  background: transparent;
  transition: all 0.5s ease;
  padding-bottom: .02rem;
  border-bottom: 3px solid #feda31;
}

/* line 97, ../sass/main.scss */
.header-img {
  background: url(../img/placeholder-hero-img.jpg) no-repeat;
  width: 100%;
  height: 50rem;
}

/* line 102, ../sass/main.scss */
.yellow-background {
  background: rgba(254, 218, 49, 0.89);
  padding: 0.5rem;
  margin-top: 35rem;
}

/* line 107, ../sass/main.scss */
.no-margin {
  margin-left: 0rem;
}

/**Styles for individual sections**/
/**Styles for report section**/
/* line 117, ../sass/main.scss */
.report-info img {
  padding-bottom: 0.9rem;
}

/* line 122, ../sass/main.scss */
#fourth-icon-section {
  padding-top: 1rem;
}

/**Styles for footer sections*/
/* line 128, ../sass/main.scss */
.footer {
  background: #4eba6e;
  padding: 3rem 0;
  color: #ffffff !important;
}
/* line 132, ../sass/main.scss */
.footer h6 {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 1rem;
}
/* line 137, ../sass/main.scss */
.footer p {
  font-weight: 300;
  font-size: 0.85rem;
  margin-left: 0.5rem;
}

/**Styles for team section**/
@media only screen and (min-width: 40.063em) {
  /* line 149, ../sass/main.scss */
  .member {
    margin-bottom: 1.8rem;
  }
}
@media only screen and (max-width: 40em) {
  /* line 149, ../sass/main.scss */
  .member {
    margin-bottom: 1.5rem;
  }
  /* line 155, ../sass/main.scss */
  .member h4 {
    margin-top: 0.3rem;
  }
}
/* line 159, ../sass/main.scss */
.member .bio {
  margin-bottom: 0.5rem;
}
