@import "color.scss";

.header{
  background: url('img/hero.jpg') no-repeat;
  height: 40rem;
}

/** Recent Schools section styling**/

.recent-schools-container{
  background: $main-green;
  padding: 2rem 0;
}

.recent-school-white-bg{
  background: #ffffff;
  padding-top: 0.9rem;
}