@import "color.scss";

.header{
  background: url('img/hero.jpg') no-repeat;
  height: 40rem;
}
.vision-header{
	h2{
		border-bottom: 0.4rem solid #45ae62;
		text-align:center;
	}
	p{
		font-size:1em;
		text-align:center;
	}
}