/** Header for What We Do Section**/
/* line 8, ../sass/main.scss */
h2 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}

/**paragraph**/
/* line 18, ../sass/main.scss */
h3 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
}

/** Icon Sections**/
/**section styles**/
/* line 28, ../sass/main.scss */
.what-we-do {
  background-color: #464646;
  padding: 5rem 0;
}
/* line 31, ../sass/main.scss */
.what-we-do img {
  padding-top: 4rem;
  padding-bottom: 1rem;
}
/* line 35, ../sass/main.scss */
.what-we-do p {
  color: white;
  font-weight: 300;
  text-align: center;
  padding-top: 1rem;
}

/* line 43, ../sass/main.scss */
.header {
  background: url("img/hero.jpg") no-repeat;
  height: 40rem;
}
